@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Default styles
*/
*::before,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

textarea,
input {
  font-size: 16px !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  height: 1rem;
  /* @media all and (max-width: 700px) {
  height: 1rem;
} */
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e5e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/* react paginate */
.paginate-page-link {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  background-color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 8px;
  margin: 0 0.5rem;
  font-weight: 500;
}

.paginate-page-link:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}

.paginate-page-link.paginate-active-page-link {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}
